<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datepicker/dist/datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datepicker"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <nav>
            <label for="pageSelector">Ir para:</label>
            <select id="pageSelector" onchange="changePage()">
                <option value="{{ url_for('login') }}">Página Inicial</option>
                <option value="{{ url_for('index') }}">Removedor</option>
                <option value="{{ url_for('task_f') }}">Listas</option>
                <!-- Adicione mais opções conforme necessário -->
            </select>
        </nav>
    </header>
    <div class="form-container">
        <h2>Adicionar Nova Tarefa</h2>
        <form action="/add_task" method="post">
            <label for="task">Nova Tarefa:</label>
            <input type="text" id="task" name="task" required>
            <button type="submit" class="add_button">Adicionar Tarefa</button>
        </form>
    </div>

    <div class="list-container">
        <h2>Lista de Tarefas</h2>
        <label>Data</label>
        <input type='text' id='data' class='date-input'>

        <ul>
            {% for task in tasks %}
                <li class="checkbox-wrapper">
                    <div class="checkbox-input">
                        <input type="checkbox" id="checkbox{{ loop.index }}" name="tasks" value="{{ task }}" onchange="toggleObservationInput(this)">
                        <label for="checkbox{{ loop.index }}"></label>
                    </div>
                    <span>{{ task }}</span>
                    <input type="text" class="observation-input" name="observations[]" placeholder="Observações">
                </li>
            {% endfor %}
        </ul>

        <form action="/download_excel" method="post">
            <button class="button" type="submit">
                <span class="button__text">Baixar Lista</span>
                <span class="button__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg">
                        <path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path>
                        <path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path>
                        <path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path>
                    </svg>
                </span>
            </button>            
        </form>    
        <button class="noselect" onclick="clearTaskList()">
            <span class="text">Limpar</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                </svg>
            </span>
        </button>
        
    </div>
</body>
</html>
