body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #7059f5;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.result {
    text-align: left;
}

.result p {
    margin: 5px 0;
}

.result-item {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.result-item.alternate {
    background-color: #e9e9e9;
}

.error {
    color: red;
    font-weight: bold;
}

select {
    width: 35%;
    padding: 10px;
    border: 1px solid #7059f5;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}

select:focus {
    border-color: #007BFF;
    outline: none;
}

.logo-container {
    position: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-new {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.btn-new .button {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-new:hover {
    background-color: #0056b3;
}

.btn-new:active, input[type="submit"]:active {
    background-color: #00408d;
    transform: scale(0.98);
}

.copy-btn {
    display: none;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #0056b3;
}

.result-item:hover .copy-btn {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
        line-height: 1.5;
    }

    .form-group label {
        font-size: 16px;
    }

    .result-item p {
        font-size: 16px;
    }

    .btn-new, input[type="submit"] {
        padding: 12px 20px;
        font-size: 18px;
        width: 100%;
    }

    .form-group input {
        width: 100%;
    }

    .result-container {
        max-height: 300px;
    }

    .main-menu ul {
        text-align: center;
    }

    .main-menu ul li {
        display: inline-block;
        margin: 0 5px;
    }

    .main-menu ul li a {
        font-size: 14px;
    }
    
    .main-menu ul li i {
        font-size: 20px;
    }

    .container, .result-container {
        padding: 15px;
        width: 100%;
        max-width: 100%;
    }

    .logo-container img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    nav.main-menu {
        width: 60px; /* Reduzir a largura do menu em telas pequenas */
    }

    .container, .result-container {
        width: calc(100% - 60px); /* Ajusta a largura para considerar o menu */
        margin-left: 60px; /* Ajusta a margem para evitar sobreposição */
    }

    nav.main-menu ul li .nav-text {
        display: none; /* Oculta o texto do menu para dar mais espaço ao ícone */
    }

    nav.main-menu ul li i {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    nav.main-menu {
        display: none; /* Oculta o menu completamente em telas muito pequenas */
    }

    .container, .result-container {
        width: 100%; /* Usa toda a largura disponível */
        margin: 0 auto; /* Centraliza o container */
    }
}

.menu-toggle {
    display: none;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0056b3; /* Ajuste a cor conforme necessário */
    z-index: 1100; /* Maior que o z-index do menu */
}

@media (max-width: 768px) {
    .main-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        z-index: 1000;
    }

    .main-menu.active {
        display: block;
    }

    .menu-toggle {
        display: block;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
