/* form.css */

body {
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-container {
    width: 45%;
    margin-right: 5%;
    align-items: center;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 20px;
}

.list-container {
    width: 45%;
    margin-left: 60px;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-input {
    display: inline-block;
    margin-right: 10px;
}

.checkbox-input input[type="checkbox"] {
    display: none;
}

.checkbox-input label {
    position: relative;
    width: 20px; /* Ajuste conforme necessário */
    height: 20px; /* Ajuste conforme necessário */
    border: 2px solid #e8e8eb;
    background: #e8e8eb;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkbox-input label:hover {
    border-color: #0b76ef;
}

.checkbox-input input[type="checkbox"]:checked + label {
    background: #0b76ef;
    border-color: #0b76ef;
}

.checkbox-input input[type="checkbox"]:checked + label .flip {
    transform: rotateY(180deg);
}

.flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
}

.checkbox-input:checked + .checkbox-input {
    border-color: #0b76ef;
  }
  
  .checkbox-input:checked + .flip {
    transform: rotateY(180deg);
  }
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.front {
    background: #fff;
    z-index: 1;
}

.back {
    transform: rotateY(180deg);
    background: #0b76ef;
    text-align: center;
    color: #fff;
    line-height: 20px;
    box-shadow: 0 0 0 1px #0b76ef;
}

.back svg {
    margin-top: 3px;
    fill: none
}

.back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.observation-input {
    display: none;
    margin-left: 10px;
}

.date-input {
    margin-left: 10px;
}

nav {
    margin-bottom: 10px; /* Reduzir o espaçamento abaixo do dropdown */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
}

nav select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
    margin-left: 10px;
}
.label-page {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    white-space: nowrap;
}

.button {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button:hover {
    background: var(--bg-color);
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }

  .limpar {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid #323232;
  background-color: #e50000;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 4px #323232;
}

.limpar, .limpar__icon, .limpar__text {
  transition: all 0.3s;
}

.limpar .limpar__text {
  transform: translateX(35px);
  color: #fff;
  font-weight: 600;
}

.limpar .limpar__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.limpar .svg {
  width: 20px;
}

.limpar:hover {
  background: #cc0000;
}

.limpar:hover .limpar__text {
  color: transparent;
}

.limpar:hover .limpar__icon {
  width: 148px;
  transform: translateX(0);
}

.limpar:active .limpar__icon {
  background-color: #b20000;
}

.limpar:active {
  border: 1px solid #b20000;
}
.nova-input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .nova-input:hover,
  .nova-input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }

  .add-task {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid #323232;
  border-radius: 10px;
  background-color: #3aa856;
  box-shadow: 4px 4px #323232;
}

.add-task, .add-task__icon, .add-task__text {
  transition: all 0.3s;
}

.add-task .add-task__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.add-task .add-task__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-task .svg {
  width: 30px;
  stroke: #fff;
}

.add-task:hover {
  background: #34974d;
}

.add-task:hover .add-task__text {
  color: transparent;
}

.add-task:hover .add-task__icon {
  width: 148px;
  transform: translateX(0);
}

.add-task:active .add-task__icon {
  background-color: #2e8644;
}

.add-task:active {
  border: 1px solid #2e8644;
}

.button-container {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
    margin-top: 10px; /* Ajuste conforme necessário */
}

.form-wrapper {
    display: flex;
    gap: 10px; /* Adicione um espaço entre os elementos, ajuste conforme necessário */
    align-items: center;
}

.nova-input {
    flex: 1; /* Ocupa o espaço disponível */
}

.head-task {
    text-align: center;
}
.flatpickr-calendar,
.flatpickr-monthDropdown-months,
.flatpickr-monthDropdown-years,
.flatpickr-days {
    transform: scale(0.9);
}
