/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-color: #f2f2f2;
    padding: 10px 0;
}

nav {
    margin-bottom: 10px; /* Reduzir o espaçamento abaixo do dropdown */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

#welcomeMessage {
    margin-top: 5px; /* Adicionar margem acima da mensagem de boas-vindas */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    display: block;
    margin-top: -35px;
}

h1 {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

label {
    margin-bottom: 5px;
    margin-left: 10px;
}

button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }

   .logout-button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .logout-button:before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #cc3d3d 0%, #e23939 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .logout-button:hover::before {
    width: 9em;
   }

#result {
    margin-top: 5px;
}
