@import url(//netdna.bootstrapcdn.com/font-awesome/6.0.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin-left: 140px;
}

.fa-2x {
  font-size: 2em;
  }
  .fa {
  position: relative;
  display: table-cell;
  width: 80px;
  height: 46px;
  text-align: center;
  margin-top: 5px;
  vertical-align: middle;
  font-size:20px;
  }
  
  .main-menu:hover,nav.main-menu.expanded {
  width:190px;
  overflow:visible;
  }
  
  .main-menu {
  background:#212121;
  border-right:1px solid #e5e5e5;
  position:fixed;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:50px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  }
  
  .main-menu>ul {
  margin:7px 0;
  }
  
  .main-menu li {
  position:relative;
  display:block;
  width: 190px;
  }
  
  .main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
   font-family: arial;
  font-size: 12px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
    
  }
  
  .main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
  }
  
  .main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
  }
  
  .no-touch .scrollable.hover {
  overflow-y:hidden;
  }
  
  .no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
  }
  
  a:hover,a:focus {
  text-decoration:none;
  }
  
  nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  }
  
  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  }
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#000000;
  width: 190px;
  
  }
  .area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
  }
  
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
  
  
  .fixed-logout {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 60px;
    }
    
    .fixed-logout li {
      display: block;
    }
    
    .fixed-logout li>a {
      display: block;
      position:relative;
      display:table;
      border-collapse:collapse;
      border-spacing:0;
      color:#999;
       font-family: arial;
      font-size: 14px;
      text-decoration:none;
      -webkit-transform:translateZ(0) scale(1,1);
      -webkit-transition:all .1s linear;
      transition:all .1s linear;
    }

    .btn-success{
      margin-bottom: 15px;
    }

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #ffdd00;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #2cf425;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

h1 {
  color: #343a40;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

/* Estilos personalizados para o DataTable */
#clientTable_wrapper {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

#clientTable_paginate .paginate_button {
  margin: 0 5px;
  border-radius: 3px;
  border: 1px solid #007bff;
  color: #007bff;
  
}

#clientTable_paginate .paginate_button:hover {
  background-color: #007bff;
  color: #fff;
}

#clientTable_filter input[type="search"] {
  width: 300px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ced4da;
}

#clientTable_info {
  margin-top: 10px;
}

.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none; /* Inicialmente oculto */
}  

