<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscacep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='buscacep.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='generic2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='notify.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
</head>
<style>
    .btn-new {
        margin-bottom: 10px;
    }

</style>
<body>
    {% include 'menu.html' %}
    <div class="logo-container">
        <img src="{{ url_for('static', filename='cep.png') }}" alt="Header Image" class="logo">
    </div>
    <div class="ui-switch-wrapper">
        <label class="ui-switch">
            <input type="checkbox" id="dark-mode-toggle">
            <div class="slider">
                <div class="circle"></div>
            </div>
        </label>
    </div>
    <div class="container">
        <h1>Consulta de CEP</h1>
        <button class="btn-new">
            <a href="/buscacep" class="button">Consulta por Logradouro</a>
        </button>
        <form onsubmit="buscarCEP(); return false;">
            <div class="form-group">
                <label for="uf"><i class="fa-solid fa-magnifying-glass-location"></i> CEP:</label>
                <input type="text" id="cepInput" placeholder="Insira o CEP" maxlength="8">
            </div>
            <input type="submit" value="Pesquisar" class="btn-new">
        </form>
        <div class="result-container" id="result"></div>
    </div>

    <script>
        window.addEventListener('load', function() {
            const tempoMinimoCarregamento = 3000;
            
            setTimeout(function() {
                document.getElementById('loading').style.visibility = 'hidden';
            }, tempoMinimoCarregamento);
        });

        function buscarCEP() {
            const cep = document.getElementById('cepInput').value;
            const resultDiv = document.getElementById('result');
            if (cep.length !== 8 || isNaN(cep)) {
                resultDiv.innerHTML = '<p class="error">CEP inválido. Por favor, insira um CEP válido.</p>';
                return;
            }
            fetch(`https://viacep.com.br/ws/${cep}/json/`)
                .then(response => response.json())
                .then(data => {
                    if (data.erro) {
                        resultDiv.innerHTML = '<p class="error">CEP não encontrado ou alterado recentemente.</p>';
                    } else {
                        resultDiv.innerHTML = `
                            <div class="result-item">
                                <p><strong>CEP:</strong> ${data.cep}</p>
                                <p><strong>Logradouro:</strong> ${data.logradouro}</p>
                                <p><strong>Bairro:</strong> ${data.bairro}</p>
                                <p><strong>Complemento:</strong> ${data.complemento}</p>
                                <p><strong>Localidade:</strong> ${data.localidade}</p>
                                <p><strong>UF:</strong> ${data.uf}</p>
                            </div>
                        `;
                    }
                })
                .catch(error => {
                    resultDiv.innerHTML = '<p class="error">Erro ao buscar o CEP. Tente novamente mais tarde.</p>';
                });
        }
        
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('nav.main-menu').classList.toggle('active');
        });
    </script>
    <script>
        const themeToggle = document.getElementById('dark-mode-toggle');
        const body = document.body;
      
        if (localStorage.getItem('dark-mode') === 'enabled') {
          body.classList.add('dark-mode');
          themeToggle.checked = true;
        }
      
        themeToggle.addEventListener('change', () => {
          if (themeToggle.checked) {
            body.classList.add('dark-mode');
            localStorage.setItem('dark-mode', 'enabled');
          } else {
            body.classList.remove('dark-mode');
            localStorage.setItem('dark-mode', 'disabled');
          }
        });
      </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='socket.js') }}"></script> -->
</body>
</html>
