<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelamento de Etiquetas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cancelamento.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='generic2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='notify.css') }}">
    <!-- <script src="{{ url_for('static', filename='dark_mode.js') }}" defer></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
</head>
<body>
    {% include 'gif.html' %}
    {% include 'menu.html' %}
    <img src="{{ url_for('static', filename='conexao1.png') }}" alt="Descrição da imagem" class="img-conexao" id="conexao-img">
    <h1>Cancelamento de Etiquetas</h1>
    <div class="ui-switch-wrapper">
        <label class="ui-switch">
            <input type="checkbox" id="dark-mode-toggle">
            <div class="slider">
                <div class="circle"></div>
            </div>
        </label>
    </div>

    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}

    <form action="/cancelamento_etiquetas" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button class="btn-canc" type="submit">Enviar</button>
    </form>

    <p>Baixe o <a href="static\MODELO.csv" download="MODELO.csv">modelo de planilha</a> para garantir o formato correto.</p>
</body>

<script>
    const darkModeToggle = document.getElementById('dark-mode-toggle');
    const body = document.body;
    const conexaoImg = document.getElementById('conexao-img');

    // Verifica a preferência armazenada
    if (localStorage.getItem('darkMode') === 'enabled') {
        body.classList.add('dark-mode');
        darkModeToggle.checked = true;
        conexaoImg.src = "{{ url_for('static', filename='conexao2.png') }}";
    } else {
        conexaoImg.src = "{{ url_for('static', filename='conexao1.png') }}";
    }

    // Evento para alternar o modo escuro
    darkModeToggle.addEventListener('change', () => {
        body.classList.toggle('dark-mode');

        if (body.classList.contains('dark-mode')) {
            localStorage.setItem('darkMode', 'enabled');
            conexaoImg.src = "{{ url_for('static', filename='conexao2.png') }}";
        } else {
            localStorage.setItem('darkMode', 'disabled');
            conexaoImg.src = "{{ url_for('static', filename='conexao1.png') }}";
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='socket.js') }}"></script>
</html>
