<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (hash)" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='generic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='switch.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
    <title>Removedor de Acentos</title>
</head>
<body>
    {% include 'gif.html' %}
    <span class="menu-toggle">
        <i class="fa fa-bars"></i>
    </span>
    {% include 'menu.html' %}
    <div class="ui-switch-wrapper">
        <label class="ui-switch">
            <input type="checkbox" id="dark-mode-toggle">
            <div class="slider">
                <div class="circle"></div>
            </div>
        </label>
    </div>
    <main class="content-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        </div>
        <h1 class='h21'>Removedor de Acentos</h1>

        <p id="welcomeMessage"></p>

        <form id="uploadForm" enctype="multipart/form-data">
            <label for="fileInput">Selecione um arquivo CSV:</label>
            <input type="file" id="fileInput" name="file" accept=".csv" required>
            <button type="button" onclick="uploadFile()">Enviar Arquivo</button>
        </form>
        <div id="result"></div>
        <button onclick="logout()" class="logout-button">Logout</button>
    </main>

    <script>

        function displayWelcomeMessage(username) {
            var welcomeMessage = document.getElementById('welcomeMessage');
            welcomeMessage.textContent = 'Bem-vindo(a), ' + username + '!';
        }

        displayWelcomeMessage('{{ username }}');
        
        function logout() {
            fetch('/logout')
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/login';
                    } else {
                        console.error('Erro ao fazer logout');
                    }
                })
                .catch(error => console.error('Erro ao fazer logout:', error));
        }

        function uploadFile() {
            var formData = new FormData(document.getElementById('uploadForm'));

            fetch('/remove_accent', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao processar o arquivo.');
                }
                return response.blob();
            })
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'Arquivo_Ajustado.csv';
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => {
                document.getElementById('result').innerHTML = '<strong>Erro:</strong> ' + error.message;
            });
        }
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('nav.main-menu').classList.toggle('active');
        });
    </script>
    <script>
        // Seleciona o checkbox do modo escuro
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        
        // Função para alternar o modo escuro
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
        
            // Salva a preferência de modo no localStorage para persistência
            if (document.body.classList.contains('dark-mode')) {
                localStorage.setItem('darkMode', 'enabled');
            } else {
                localStorage.setItem('darkMode', 'disabled');
            }
        }
        
        // Verifica a preferência de modo salva ao carregar a página
        if (localStorage.getItem('darkMode') === 'enabled') {
            document.body.classList.add('dark-mode');
            darkModeToggle.checked = true; // Marca o checkbox se o modo escuro estava ativado
        }
        
        // Adiciona o evento de clique ao toggle
        darkModeToggle.addEventListener('change', toggleDarkMode);
        </script>
</body>
</html>
