<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Removedor de Acentos</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Header Image">
    </header>
    <div class="content-container">
        <h1>Removedor de Acentos</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="fileInput">Selecione um arquivo CSV:</label>
            <input type="file" id="fileInput" name="file" accept=".csv" required>
            <button type="button" onclick="uploadFile()">Enviar Arquivo</button>
        </form>
        <div id="result"></div>
    </div>

    <script>
        function uploadFile() {
            var formData = new FormData(document.getElementById('uploadForm'));

            fetch('/remove_accent', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao processar o arquivo.');
                }
                return response.blob();
            })
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'Arquivo_Ajustado.csv';
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => {
                document.getElementById('result').innerHTML = '<strong>Erro:</strong> ' + error.message;
            });
        }
    </script>
</body>
</html>
