<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Úteis</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (hash)" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='links2.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='generic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='switch.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js" integrity="sha512-... (hash)" crossorigin="anonymous"></script>
</head>
<body>
    <div class="ui-switch-wrapper">
        <label class="ui-switch">
            <input type="checkbox" id="dark-mode-toggle">
            <div class="slider">
                <div class="circle"></div>
            </div>
        </label>
    </div>
    {% include 'gif.html' %}
    {% include 'menu.html' %}
    <div class="container centralizar-container">
        <div class="container-box">
            <h1>Clientes Google Keep</h1>
            <div class="table-responsive">
                <table id="tabelaClientes" class="table table-striped table-bordered tabela-clientes" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nome do Cliente</th>
                            <th>Responsável</th>
                            <th>CD</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente[0] }}</td>
                                <td>{{ cliente[1] }}</td>
                                <td>{{ cliente[2] }}</td>
                                <td>
                                    <a href="{{ cliente[3] }}" target="_blank"><i class="fas fa-external-link-alt icone-link"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <button id="btnDownloadExcel" class="btn btn-primary">
                    <i class="fas fa-download"></i> Baixar Lista
                </button>
            </div>
            <h2>Inserir Cliente no Keep</h2>
            <form action="/inserir_trello" method="post" class="form-container">
                <div class="form-group">
                    <label for="nome">Nome do Cliente:</label>
                    <input type="text" class="form-control" id="nome" name="nome">
                </div>
                <div class="form-group">
                    <label for="responsavel">Responsável:</label>
                    <input type="text" class="form-control" id="responsavel" name="responsavel">
                </div>
                <div class="form-group">
                    <label for="CD">CD:</label>
                    <input type="text" class="form-control" id="CD" name="CD">
                </div>
                <div class="form-group">
                    <label for="link">Link:</label>
                    <input type="text" class="form-control" id="link" name="link">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Inserir</button>
                </div>
            </form>
        </div>
        <div class="container-box">
            <h2>Outros Links</h2>
            <div class="table-responsive">
                <table id="outraTabela" class="table table-striped table-bordered tabela_links" style="width:100%">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in outros_links %}
                            <tr>
                                <td>{{ link[0] }}</td>
                                <td>
                                    <a href="{{ link[1] }}" target="_blank"><i class="fas fa-external-link-alt icone-link"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h2>Inserir Outro Link</h2>
            <form action="/inserir_link" method="post" class="form-container">
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control" id="titulo" name="titulo">
                </div>
                <div class="form-group">
                    <label for="url">URL:</label>
                    <input type="text" class="form-control" id="url" name="url">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Inserir</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script>
        $(document).ready(function() {
            if ($.fn.DataTable.isDataTable('#tabelaClientes')) {
                $('#tabelaClientes').DataTable().destroy();
            }

            var table = $('#tabelaClientes').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar:",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    }
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]],
                "pageLength": 10
            });

            $('#btnDownloadExcel').click(function() {
                var filteredData = table.rows({ search: 'applied' }).data();

                var filteredDataArray = [];

                filteredData.each(function(value) {
                    var rowData = [value[0], value[1], value[2]];
                    filteredDataArray.push(rowData);
                });

                var header = ['Nome do Cliente', 'Responsável', 'CD'];

                var excelData = [header];

                filteredDataArray.forEach(function(row) {
                    excelData.push(row);
                });

                var wb = XLSX.utils.book_new();
                var ws = XLSX.utils.aoa_to_sheet(excelData);

                XLSX.utils.book_append_sheet(wb, ws, "Lista Filtrada");

                XLSX.writeFile(wb, 'lista_de_clientes.xlsx');
            });
        });

        $(document).ready(function() {
            if ($.fn.DataTable.isDataTable('#outraTabela')) {
                $('#outraTabela').DataTable().destroy();
            }

            $('#outraTabela').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar:",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    }
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]],
                "pageLength": 10
            });
        });
    </script>
    <script>
        const themeToggle = document.getElementById('dark-mode-toggle');
        const body = document.body;
      
        // Verifica se o tema escuro foi armazenado no localStorage
        if (localStorage.getItem('dark-mode') === 'enabled') {
          body.classList.add('dark-mode');
          themeToggle.checked = true;
        }
      
        // Alterna o tema quando o checkbox é marcado/desmarcado
        themeToggle.addEventListener('change', () => {
          if (themeToggle.checked) {
            body.classList.add('dark-mode');
            localStorage.setItem('dark-mode', 'enabled');
          } else {
            body.classList.remove('dark-mode');
            localStorage.setItem('dark-mode', 'disabled');
          }
        });
      </script>
</body>
</html>