<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <nav>
        <label for="pageSelector">Ir para:</label>
        <select id="pageSelector" onchange="changePage()">
            <option value="{{ url_for('index') }}">Página Inicial</option>
            <option value="outra_pagina.html">Removedor</option>
            <option value="{{ url_for('login') }}">Teste</option>
            <!-- Adicione mais opções conforme necessário -->
        </select>
    </nav>
    <script>
        function changePage() {
            var pageSelector = document.getElementById('pageSelector');
            var selectedPage = pageSelector.options[pageSelector.selectedIndex].value;
            window.location.href = selectedPage;
        }

        function logout() {
            // Adicione aqui a lógica para logout
            alert('Você foi desconectado.'); // Exemplo: um alerta para fins de demonstração
        }
    </script>
    <div class="container">
        <h1>Login</h1>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('login') }}" method="POST" class="login-form">
            <div class="input-group">
                <label for="username">Usuário:</label> <!-- Alteração aqui -->
                <input type="text" id="username" name="username" required> <!-- Alteração aqui -->
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <button onclick="logout()" class="logout-button">Logout</button>
    </div>
</body>
</html>
