<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
</head>
<body>
    {% include 'gif.html' %}
    <script>
        function logout() {

            alert('Você foi desconectado.');
        }
    </script>
    <div class="container">
        <img src="{{ url_for('static', filename='conexao1.png') }}" alt="Descrição da imagem" class="img-conexao">
        <h1>Login</h1>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('login') }}" method="POST" class="login-form">
            <div class="input-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <button onclick="logout()" class="logout-button">Logout</button>
    </div>
</body>
</html>
