<nav class="main-menu">
    <ul>
        <li>
        </li>
    <ul>
    <ul>
        <li>
        </li>
    <ul>
        <li>
    <ul>
        <li>
            <a href="/">
                <i class="fa fa-solid fa-house fa-2x"></i>
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li>
            <a href="/gerar_pdf">
                <i class="fa fa-solid fa-file-pdf fa-2x"></i>
                <span class="nav-text">Gerar Faturas</span>
            </a>
        </li>              
        <li>
            <a href="/removedor">
                <i class="fa fa-solid fa-file-csv fa-2x"></i>
                <span class="nav-text">Removedor</span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/task">
                <i class="fa fa-solid fa-list-check fa-2x"></i>
                <span class="nav-text">Listas</span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/buscacep">
                <i class="fa fa-solid fa-map-location-dot fa-2x"></i>
                <span class="nav-text">Busca CEP</span>
            </a>
        </li>
        <li>
            <a href="/rastreamento">
                <i class="fa fa-solid fa-truck-fast fa-2x"></i>
                <span class="nav-text">Rastreamento</span>
            </a>
        </li>
        <li>
            <a href="/get_notes">
                <i class="fa fa-solid fa-table-list fa-2x"></i>
                <span class="nav-text">Anotações</span>
            </a>
        </li>
        <li>
            <a href="/lista_completa">
                <i class="fa fa-solid fa-magnifying-glass fa-2x"></i>
                <span class="nav-text">Conferência BOX</span>
            </a>
        </li>
        <li>
            <a href="/links_uteis">
                <i class="fa fa-solid fa-table-columns fa-2x"></i>
                <span class="nav-text">Keep & Links</span>
            </a>
        </li>
        <li>
            <a href="/somar_produtos">
                <i class="fa fa-solid fa-calculator fa-2x"></i>
                <span class="nav-text">Calcular Produtos</span>
            </a>
        </li>
        <li>
            <a href="/cancelamento_etiquetas">
                <i class="fa fa-solid fa-ban fa-2x"></i>
                <span class="nav-text">Cancelar Etiquetas</span>
            </a>
        </li>
    </ul>
    <ul class="logout fixed-logout">
        <li>
            <a href="/logout">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">Logout</span>
            </a>
        </li>
    </ul>
</nav>