<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='sro.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
    <title>Rastreamento Correios</title>
</head>

<body>
    <nav>
        <label for="pageSelector">Ir para:</label>
        <select id="pageSelector" onchange="changePage()">
            <option value="{{ url_for('login') }}">Página Inicial</option>
            <option value="{{ url_for('index') }}">Removedor</option>
            <option value="{{ url_for('task_f') }}">Listas</option>
            <option value="{{ url_for('rastreio') }}">Rastreamento</option>
            <!-- Adicione mais opções conforme necessário -->
        </select>
    </nav>
    <div class="container">
        <div class="container-content">
            <img src="{{ url_for('static', filename='conexao.png') }}" alt="Descrição da imagem" class="img-conexao">
            <h1 id="rastreioo">Rastreamento Correios</h1>
            <div class="search">
            <input class="search-input" type="text" id="trackingNumber" placeholder="Digite o código de rastreio">
            <button class="search-button" type="submit" onclick="searchTracking()">Pesquisar</button>
        </div>
        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
