<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (hash)" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='sro.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
    <title>Rastreamento Correios</title>
</head>

<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/dashboard">
                    <i class="fa fa-duotone fa-chart-pie fa-2x"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fa fa-solid fa-file-csv fa-2x"></i>
                    <span class="nav-text">Removedor</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="/task">
                    <i class="fa fa-solid fa-list-check fa-2x"></i>
                    <span class="nav-text">Listas</span>
                </a>
            </li>
            <li>
                <a href="/rastreamento">
                    <i class="fa fa-solid fa-truck-fast fa-2x"></i>
                    <span class="nav-text">Rastreamento</span>
                </a>
            </li>
            <li>
                <a href="/get_notes">
                    <i class="fa fa-solid fa-table-list fa-2x"></i>
                    <span class="nav-text">Anotações</span>
                </a>
            </li>
            <li>
                <a href="/lista_completa">
                    <i class="fa fa-solid fa-magnifying-glass fa-2x"></i>
                    <span class="nav-text">Lista Completa de Clientes</span>
                </a>
            </li>
        </ul>
        <ul class="logout fixed-logout">
            <li>
                <a href="/logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="container-content">
            <img src="{{ url_for('static', filename='conexao.png') }}" alt="Descrição da imagem" class="img-conexao">
            <h1 id="rastreioo">Rastreamento Correios</h1>
            <div class="search">
            <input class="search-input" type="text" id="trackingNumber" placeholder="Digite o código de rastreio">
            <button class="search-button" type="submit" onclick="searchTracking()">Pesquisar</button>
        </div>
        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
