<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (hash)" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='generic2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='notify.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
    <title>Rastreamento Correios</title>
</head>

<body>
    {% include 'gif.html' %}
    {% include 'menu.html' %}
    <div class="container">
        <div class="container-content">
            <img src="{{ url_for('static', filename='conexao.png') }}" alt="Descrição da imagem" class="img-conexao">
            <h1 id="rastreioo">Rastreamento Correios</h1>
            <div class="search">
            <input class="search-input" type="text" id="trackingNumber" placeholder="Digite o código de rastreio">
            <button class="search-button" type="submit" onclick="searchTracking()">Pesquisar</button>
        </div>
        <button class="search-button1" onclick="window.location.href='/consulta-img'">Consultar Imagem</button>
        <div id="result"></div>
    </div>
    <div class="ui-switch-wrapper">
        <label class="ui-switch">
            <input type="checkbox" id="dark-mode-toggle">
            <div class="slider">
                <div class="circle"></div>
            </div>
        </label>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>

        const darkModeToggle = document.getElementById('dark-mode-toggle');
        
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
        
            if (document.body.classList.contains('dark-mode')) {
                localStorage.setItem('darkMode', 'enabled');
            } else {
                localStorage.setItem('darkMode', 'disabled');
            }
        }
        
        if (localStorage.getItem('darkMode') === 'enabled') {
            document.body.classList.add('dark-mode');
            darkModeToggle.checked = true;
        }
        
        darkModeToggle.addEventListener('change', toggleDarkMode);
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='socket.js') }}"></script>
</body>

</html>
