<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (hash)" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/plug-ins/2.0.3/i18n/pt-BR.json"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='testeapi.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container">
        <h1>Lista de Clientes</h1>
        <form action="/lista_completa" method="get">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="data_inicio">Data de Início:</label>
                    <input type="date" class="form-control" id="data_inicio" name="data_inicio" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="data_fim">Data de Fim:</label>
                    <input type="date" class="form-control" id="data_fim" name="data_fim" required>
                </div>
            </div>
            <button id="pesq" type="submit" class="btn btn-primary">Pesquisar</button>
        </form>
        <table id="clientTable" class="table">
            <thead>
                <tr>
                    <th>Id_Cliente</th>
                    <th>Cliente</th>
                    <th>Pedidos CRM</th>
                    <th>Pedidos BOX</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(dados|length) %}
                <tr>
                    <td>{{ dados[i][0] }}</td>
                    <td>{{ dados[i][1] }}</td>
                    <td>{{ dados[i][2] }}</td>
                    <td>{{ resultado_final[i] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="loader" class="loader">
        <svg viewBox="0 0 240 240" height="240" width="240" class="pl">
            <circle
              stroke-linecap="round"
              stroke-dashoffset="-330"
              stroke-dasharray="0 660"
              stroke-width="20"
              stroke="#000"
              fill="none"
              r="105"
              cy="120"
              cx="120"
              class="pl__ring pl__ring--a"
            ></circle>
            <circle
              stroke-linecap="round"
              stroke-dashoffset="-110"
              stroke-dasharray="0 220"
              stroke-width="20"
              stroke="#000"
              fill="none"
              r="35"
              cy="120"
              cx="120"
              class="pl__ring pl__ring--b"
            ></circle>
            <circle
              stroke-linecap="round"
              stroke-dasharray="0 440"
              stroke-width="20"
              stroke="#000"
              fill="none"
              r="70"
              cy="120"
              cx="85"
              class="pl__ring pl__ring--c"
            ></circle>
            <circle
              stroke-linecap="round"
              stroke-dasharray="0 440"
              stroke-width="20"
              stroke="#000"
              fill="none"
              r="70"
              cy="120"
              cx="155"
              class="pl__ring pl__ring--d"
            ></circle>
          </svg>
        </div>         
        <form action="/download" method="post">
            <input type="hidden" name="data" value="{{ dados }}">
            <button type="submit" class="btn btn-success"><i class="fas fa-download"></i> Download</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            var table;
    
            function showLoader() {
                $('#loader').show();
                $('#clientTable').hide();
            }
    
            function hideLoader() {
                $('#loader').hide();
                $('#clientTable').show();
            }
    
            $('form').submit(function() {
                showLoader();
            });
    
            var table = $('#clientTable').DataTable({
                "language": {
                    "sEmptyTable":     "Nenhum registro encontrado",
                    "sInfo":           "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered":   "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sInfoThousands":  ".",
                    "sLengthMenu":     "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing":     "Processando...",
                    "sZeroRecords":    "Nenhum registro encontrado",
                    "sSearch":         "Pesquisar:",
                    "oPaginate": {
                        "sNext":     "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst":    "Primeiro",
                        "sLast":     "Último"
                    },
                    "oAria": {
                        "sSortAscending":  ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    }
                }
            });
    
            $('#search').keyup(function() {
                table.search($(this).val()).draw();
            });
    
            $('#clientTable_filter input[type="search"]').keyup(function() {
                table.search($(this).val()).draw();
            });
    
            $('#clientTable').on('draw.dt', function() {
                hideLoader();
            });
    
            $('#clientTable').on('error.dt', function() {
                hideLoader();
            });
        });
    </script>
</body>
</html>
