<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (hash)" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='generic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='teste.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
    <title>Em Breve</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 120px;
        }

        .c-container {
            text-align: center;
            margin-left: -95%;
        }

        .img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/dashboard">
                    <i class="fa fa-duotone fa-chart-pie fa-2x"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/gerar_pdf">
                    <i class="fa fa-solid fa-file-pdf fa-2x"></i>
                    <span class="nav-text">Gerar Faturas</span>
                </a>
            </li>              
            <li>
                <a href="/">
                    <i class="fa fa-solid fa-file-csv fa-2x"></i>
                    <span class="nav-text">Removedor</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="/task">
                    <i class="fa fa-solid fa-list-check fa-2x"></i>
                    <span class="nav-text">Listas</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="/buscacep">
                    <i class="fa fa-solid fa-map-location-dot fa-2x"></i>
                    <span class="nav-text">Busca CEP</span>
                </a>
            </li>
            <li>
                <a href="/rastreamento">
                    <i class="fa fa-solid fa-truck-fast fa-2x"></i>
                    <span class="nav-text">Rastreamento</span>
                </a>
            </li>
            <li>
                <a href="/get_notes">
                    <i class="fa fa-solid fa-table-list fa-2x"></i>
                    <span class="nav-text">Anotações</span>
                </a>
            </li>
            <li>
                <a href="/lista_completa">
                    <i class="fa fa-solid fa-magnifying-glass fa-2x"></i>
                    <span class="nav-text">Conferência BOX</span>
                </a>
            </li>
            <li>
                <a href="/links_uteis">
                    <i class="fa fa-solid fa-table-columns fa-2x"></i>
                    <span class="nav-text">Trello & Links</span>
                </a>
            </li>
        </ul>
        <ul class="logout fixed-logout">
            <li>
                <a href="/logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    <div name='container' class='c-container'>
        <h2 class='text1'>Em Desenvolvimento</h2>
        <img src="static\aguarde-em-breve-png.png" alt="Em Breve" class="img">
        <p class='text2'>Estamos trabalhando em algo incrível. Volte em breve para conferir!</p>
    <div/>
</body>
</html>
