<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (hash)" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='generic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='teste.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
    <title>Em Breve</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 120px;
        }

        .c-container {
            text-align: center;
            margin-left: -95%;
        }

        .img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    {% include 'gif.html' %}
    {% include 'menu.html' %}
    <div name='container' class='c-container'>
        <h2 class='text1'>Em Desenvolvimento</h2>
        <img src="static\aguarde-em-breve-png.png" alt="Em Breve" class="img">
        <p class='text2'>Estamos trabalhando em algo incrível. Volte em breve para conferir!</p>
    <div/>
</body>
</html>
