<!doctype html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somar Quantidades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='generic2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='logo_ico.ico') }}" type="image/x-icon">
</head>
<body>
    {% include 'gif.html' %}
    {% include 'menu.html' %}
    <div class="logo-container">
        <img src="{{ url_for('static', filename='7132915.png') }}" alt="Header Image" class="logo">
    </div>

    <div class="form-container">
        <form action="/analisar" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Enviar">
        </form>

        <!-- Loader adicionado dentro do form-container -->
        <div id="loader" class="loader" style="display: none; text-align: center;">
            <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
                <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
                <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
                <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
                <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            </svg>
        </div>
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault(); // Impede o envio imediato do formulário

            document.querySelector('.form-container form').style.display = 'none'; // Oculta o formulário
            document.getElementById('loader').style.display = 'block'; // Mostra o loader

            setTimeout(() => {
                event.target.submit(); // Após 2.3 segundos, envia o formulário
            }, 2300);
        });
    </script>
</body>
</html>
